body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 20px;
    color:#F5E663 ;
}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 3px;
  padding: 5px;
  background: inherit;
  /*I borrowed this from W3 schools */
}
.container div,nav {
  
  padding: 10px;
}
.container div.header {
  grid-area: header;
  text-align: center;
}
.container div.menu {
  grid-area: menu;
  
}
.container div.content {
  grid-area: content;
}
.container div.footer {
  grid-area: footer;
  text-align: left;
}
/* i also used these containers from W3 schools*/

a:link {
  color: rgb(236, 240, 11);
}

a:visited {
  color: rgb(245, 201, 8);
}

a:hover {
  color: rgb(187, 255, 0);
}

a:active {
  color: rgb(255, 0, 0);
}
img.one {
  
  height: 360px;
  width: 240px;
}
.content{
  display: flex;
}
p,h1{
  padding: 10px;
  text-shadow: 2px 2px #241a1a;
}
.footer {
  height: 20%;
  width: 100%;
}
ul{
  text-align: left;
  list-style: none;
}
#page-container {
  position: relative;
  min-height: 100vh;
}


#footer {
  position: flex;
  width: 100%;
  height: 7rem;
}
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 2rem;
}

.gallery-item {
    border: 1px solid 
}

.gallery-item img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
}
/* the gallery item, grid and img css i figured out through w3 schools aswell, mostly using grids*/
.gallery div:hover{
    transform: scale(1.05);
}
/* this hover is from a friend */

