body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 20px;
    color:#F5E663 ;
}

.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "menu content content"
    "footer footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 3px;
  padding: 5px;
  background: inherit;
  /*I borrowed this from W3 schools */
}
.container div,nav {
  
  padding: 10px;
}
.container div.header {
  grid-area: header;
  text-align: center;
}
.container div.menu {
  grid-area: menu;
  
}
.container div.content {
  grid-area: content;
}
.container div.footer {
  grid-area: footer;
  text-align: left;
}
/* i also used these containers from W3 schools*/

a:link {
  color: rgb(236, 240, 11);
}

a:visited {
  color: rgb(245, 201, 8);
}

a:hover {
  color: rgb(187, 255, 0);
}

a:active {
  color: rgb(255, 0, 0);
}
img.one {
  
  height: 360px;
  width: 240px;
}
.content{
  display: flex;
  text-align: left;
}
p,h1{
  padding: 10px;
  text-shadow: 2px 2px #241a1a;
}
.footer {
  height: 20%;
  width: 100%;
}
ul{
  text-align: left;
  list-style: none;
}
#page-container {
  position: relative;
  min-height: 100vh;
}


#footer {
  position: flex;
  width: 100%;
  height: 7rem;
}
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 2rem;
}

.gallery-item {
    border: 1px solid 
}

.gallery-item img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
}
/* the gallery item, grid and img css i figured out through w3 schools aswell, mostly using grids*/
.gallery div:hover{
    transform: scale(1.05);
}
/* this hover is from a friend */

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.8rem;
    border: 4px solid rgb(228, 219, 219);
    font-family: inherit;
    font-size: 0.95rem;
    background: inherit;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border: 2px solid white;
}

.form-group textarea {
    resize: vertical;
    min-height: 150px;
}

.submit-btn {
    background-color: white;
    padding: 0.8rem 2rem;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
}

.success-message {
    display: none;
    text-align: center;
    padding: 3rem 2rem;
    background: inherit;
    border: 2px solid white;
    max-width: 600px;
    margin: 0 auto;
}

.success-message:target {
    display: block;
}

.success-message h2 {
    margin-bottom: 1rem;
}

.success-message p {
    margin-bottom: 2rem;
    font-size: 1.1rem;
}

.back-button {
    display: inline-block;
    background: inherit;
    padding: 0.8rem 2rem;
    text-decoration: none;
    font-weight: 500;
    border: 2px solid white;
}

.back-button:hover {
    background-color: white;
}

.form-container {
    display: block;
}

.success-message:target ~ .form-container {
    display: none;
}
